<h1 class="text-center mt-4"><%= @user.username.capitalize %>'s profile</h1>

<div class="container">
  <div class="text-center image-container">
    <%= gravatar_for @user, size: 200 %>
  </div>

  <% if logged_in? && @user == current_user %>
    <div class="text-center mt-4">
      <%= link_to "Edit your profile", edit_user_path(@user), class: 'btn btn-outline-info' %>
    </div>
  <% end %>

  <h3 class="text-center mt-4">All articles by <i><%= @user.username %></i></h3>

  <div class="flickr_pagination mb-3">
    <%= will_paginate @articles, :container => false %>
  </div>
  <%= render 'articles/article' %>
  <div class="flickr_pagination mb-3">
    <%= will_paginate @articles, :container => false %>
  </div>

  <div class="text-center">
    <%= link_to :back, class: 'font-weight-bold' do %>
      <i class="bi bi-chevron-left mr-2 text-info"></i>Back to previous page
    <% end %>
  </div>
</div>
