<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-md">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <span class="text-success font-weight-bold pr-1">Alpha</span>Blog
    <% end %>
    <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to 'Home', root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Articles
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'View Articles', articles_path, class: 'dropdown-item' %>
            <% if logged_in? %>
              <%= link_to 'New Article', new_article_path, class: 'dropdown-item' %>
            <% end %>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <%= link_to 'Bloggers', users_path, class: 'nav-link' %>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 mr-2">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <ul class="navbar-nav">
        <% if logged_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.username  %>  <%= "(Admin)" if current_user.admin? %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to 'Edit profile', edit_user_path(current_user), class: 'dropdown-item' %>
              <%= link_to 'view profile', user_path(current_user), class: 'dropdown-item' %>
              <%= link_to 'Delete account', user_path(current_user), class: 'dropdown-item text-danger', method: :delete, data: { confirm: "Are you sure?" } %>
              <div class="dropdown-divider"></div>
              <%= link_to "Log out", logout_path, class: 'dropdown-item', method: :delete %>
            </div>
          </li>

        <% else %>
          <li class="nav-item">
            <%= link_to "Log in", login_path, class: 'nav-link' %>
          </li>
          <li class="nav-item ml-3">
            <%= link_to "Sign up", signup_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
